/* TERMO */
@keyframes hiddenExit {
    0% {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        visibility: visible;
    }
    100% {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.6);
        opacity: 0;
        visibility: hidden;
    }
}

.hiddenBox{
    overflow: hidden;
    animation: hiddenExit 1s ease 0s 1 normal forwards;
}

/* FORMULARIO */
@keyframes fadeInBottom {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.formAnimation{
    animation: fadeInBottom 2s ease 0s 1 normal forwards;
}

/* ADICIONAR INPUT */
@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.inputAnimation{
    animation: fadeInRight 2s ease 0s 1 normal forwards;
}