@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    
}

body#home{
    background: url(../imgs/noise.png) center no-repeat, url(../imgs/bg_home.png) center no-repeat;
    background-size: cover;
}

body#capital{
    background: url(../imgs/noise.png) center no-repeat, url(../imgs/bg_capital.png) center no-repeat;
    background-size: cover;
}

body#sobre, body#dicas{
    background: url(../imgs/noise.png) center no-repeat, url(../imgs/bg_sobre-dicas.png) center no-repeat;
    background-size: cover;
}

nav{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
}

p{
color: #FFF;
text-align: justify;
font-family: Montserrat;
font-style: normal;
line-height: 150%; /* 45px */
}

hr{
    stroke-width: 1px;
    stroke: #2BD999;
    background-color: #2BD999;
    color: #2BD999;
}

.btn-comecar, .btn-grafico{
    width: 249px;
    border-radius: 25px;
    flex-shrink: 0;
    font-weight: 400;
    border: none;
    color: white;
    background-color: #4E9B7F;
    box-shadow: 0px 0px 38.4px 0px rgba(13, 243, 159, 0.48);
}

.btn-comecar:hover, .btn-grafico:hover{
    background-color: #4e9b7f9c;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
}

.bg-green{
    background-color: #316350;
}

/* INDEX (HOME) */
#home .titulo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#home .titulo h1{
    color: #FFF;
    font-weight: 400;
    text-align: center;
    font-style: normal;
}

#home .texto{
    flex-shrink: 0;
}

#home .texto p{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
}

#home .texto b{
    font-weight: 600;
}

#home .button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#home .cartoes{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

/* CAPITAL */
.shadowTitulo{
    filter: drop-shadow(6px 2px 5.8px rgba(78, 155, 110, 0.30));
    font-weight: 300;
}

/* CAPITAL RENDA */
.form{
    border-radius: 10px;
    border: 2px solid #374957;
    background: linear-gradient(245deg, rgba(6, 10, 19, 0.10) 17.16%, rgba(6, 10, 20, 0.10) 18.54%, rgba(61, 64, 70, 0.10) 51.65%);
    backdrop-filter: blur(20.950000762939453px);
    z-index: 0;
}

.input-numeric{
    border-radius: 38px;
    border: 1px solid #4E9B6E;
    background: rgba(217, 217, 217, 0.00);
    
}