<!DOCTYPE html>
<html lang="pt-br" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - SEE U CAPITAL</title>
    <link rel="stylesheet" href="../css/output.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/animations.css">
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <h1>Resumo Financeiro</h1>
        <canvas id="graficoDonut"></canvas>
    </div>
    
    <button onclick="window.location.href='/'" class="btn btn-proximo shadowTitulo">Voltar para a Home</button>
    <script>
        // Dados passados pelo backend
        const labels = <%- labels %>; // Labels vindos do backend
        const valores = <%- valores %>; // Valores vindos do backend

        // Configurando o gráfico
        const ctx = document.getElementById('graficoDonut').getContext('2d');
        new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    data: valores,
                    backgroundColor: ['#4CAF50', '#FF5722', '#FFEB3B', '#3F51B5', '#00BCD4'],
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                },
            }
        });
    </script>
</body>
</html>
